* {

}

body {
	background-color: #1F2833;
	padding: 0px;
	margin: 0px;
}

.page {
	position: absolute;
	background-size: 100% auto;
	background-position: 0px 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;

}

.logo {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #1F2833;
	font-size: 0.8em;
	background: #E1E7EC;
	letter-spacing: 1px;
	padding: 10px;
	padding-bottom: 5px;
	position: absolute;
	left: 0px;
	top: 20px;
}

h1 {
	color: #E1E7EC;
	font-size: 3.5em;
	line-height: 1em;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: aktiv-grotesk-extended, serif;
	font-weight: 300;
	font-style: normal;
}

h1 .highlight {
	text-decoration: none;
	color: #E1E7EC;
	box-shadow: inset 0px -10px 0 #1F2833, inset 0 -25px 0 #404B5A;
	font-weight: 300;
	font-style: normal;
}

p {
	color: #E1E7EC;
	line-height: 1.25em;
	font-weight: 300;
	font-size: 1.1em;
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: sans-serif;
}

p strong {
	font-weight: 500;
	font-family: sans-serif;
}

p .highlight {
	text-decoration: none;
	color: #E1E7EC;
	font-weight: 500;
	font-family: sans-serif;
	box-shadow: inset 0 0px 0 #1F2833, inset 0 -6px 0 #404B5A;
}

@media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px)
{

	body {
		padding: 0px;
	}

	#gradient {
			background: none !important;
	}

	.container {
		width: 100%;
	}

	.logo {
	}

	h1 {
		font-size: 2.5em;
		padding :10px;
		margin-bottom: 10px;
		margin-top: 100px;
	}

	p {
		font-size: 1.3em;
		padding :10px;
		margin-bottom: 10px;
	}
}
